body{
    background-color: #67c8be;
}
.informatii{
float:right;
    right: 50px;
    width: 1300px;
    margin-bottom: 10px;
}
#adaugare{
    position: fixed;
    padding-left: 40px;
}
#adaugare h1{
    color: darkblue;
}
input[type=submit]{
    margin-top: 10px;
    padding: 7px;
    background-color: #35a1f7;
    color:white;
}
#aprobare{
    color:white;
    background-color: red;
    padding:5px;
    margin: 3px;
}
#dezaprobare{
    color:white;
    background-color: lightskyblue;
    padding: 5px;
    margin:3px;
}